* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.app-container {
}

.recipe-title-card {
}

.meal-image {
}

.recipe-description {
}

.prep-time-section {
}

.prep-time-heading {
}

.prep-time-item {
}

.info-section {
}

.section-heading {
}

.ingredient-item {
}

.instruction-item {
}

.nutrition-table-container {
}

.table-row {
}
